/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CUBE CSS */
/* Composition: */

:root {
  /* --color-accent-1: */
  --base-color: #1d1d1f;
  --light-color: #fafafa;
}

body {
  font-family: 'Lato', sans-serif;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/*  Utility */

.wrapper {
  width: 85%;
  max-width: 60rem;
  margin-inline: auto;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-30 {
  font-size: 30px;
}

.color-accent-1 {
  /* color: $color-accent-1; */
}
.bg-color-accent-1 {
  /* background-color: $color-accent-1; */
}

.fc-base {
  color: var(--base-color);
}
.fc-light {
  color: var(--light-color);
}

.bg-color-black {
  background-color: black;
}

.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw700 {
  font-weight: 700;
}

.grid-auto-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.flex {
  display: flex;
  gap: var(--flex-space, 1rem);
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* BLOCK */
button {
  border: none;
  padding: 0.5em 1em;
}
